* {
    /* TODO: Zeigen */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--lightest);
    color: var(--color-text);
    font-family: var(--ff-normal);
    font-size: var(--m);
    font-weight: var(--fw-normal);
    hyphens: auto;
    line-height: var(--lh-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-headline);
    font-weight: bold;
    hyphens: none;
}

h1 {
    padding-top: var(--xxxl);
    padding-bottom: var(--xxxl);
    padding-left: var(--m);
    color: var(--dark);
    font-size: var(--xxxl);
    line-height: var(--lh-tight);
}

h2 {
    padding-top: var(--m);
    margin-bottom: var(--xxl);
    color: var(--color-accent);
    font-size: var(--xxl);
    line-height: var(--lh-tight);
}

h3 {
    padding-top: var(--xl);
    margin-bottom: var(--xl);
    font-size: var(--xl);
    font-weight: normal;
}

img {
    width: 100%;
}
